.AddTransaction{
  padding-left: 33%;
  width: 40%;
  height:70%;
  margin-top: 3%;
  
}
.AddTransaction form > input[type=text] {
    width: 85%;
    font-size:25px;
    border: 2px solid gray;
    border-radius: 4px;

}

.AddTransaction form > button {
    width: 27%;
    margin-top: 0%;
    margin-left:29%;
    text-transform: inherit !important;
    background-color: #8bd13c !important;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;

    
}




